@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #ffffff;
  background-color: #000;
}

.page {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100%;
}

.container {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1057px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}
@media (max-width: 570px) {
  .container {
    max-width: none;
  }
}
@media (max-width: 425px) {
  .container {
    min-width: none;
  }
}
@media (max-width: 360px) {
  .container {
    min-width: none;
  }
}

.header {
  padding: 12px 0 0 0;
  margin-bottom: 26px;
}
@media (max-width: 767.98px) {
  .header {
    margin-bottom: 10px;
  }
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding-right: 15px;
}
.header__nav-menu {
  padding-right: 110px;
}
@media (max-width: 1057px) {
  .header__nav-menu {
    padding-right: 60px;
  }
}
@media (max-width: 991.98px) {
  .header__nav-menu {
    padding-right: 30px;
  }
}
@media (max-width: 767.98px) {
  .header__nav-menu {
    display: none;
  }
}
.header__burger {
  display: none;
}
.header__burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E3BC32;
  top: 9px;
}
.header__burger::after, .header__burger::before {
  content: "";
  background-color: #E3BC32;
  position: absolute;
  width: 100%;
  height: 2px;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}

.menu__link {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.menu__item {
  margin-right: 43px;
}
.menu__item a {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}
.menu__item a:hover {
  color: #E3BC32;
}
.menu__item:last-child {
  margin: 0;
}

.section-1 {
  position: relative;
  padding: 254px 0;
}
@media (max-width: 1057px) {
  .section-1 {
    padding: 140px 0;
  }
}
@media (max-width: 991.98px) {
  .section-1 {
    padding: 100px 0;
  }
}
@media (max-width: 570px) {
  .section-1 {
    padding: 60px 0;
  }
}
.section-1__main-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-1__content-block {
  max-width: 480px;
  padding-left: 60px;
}
@media (max-width: 570px) {
  .section-1__content-block {
    padding-left: 0;
  }
}
.section-1__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}
.section-1__title:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .section-1__title:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 767.98px) {
  .section-1__title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 570px) {
  .section-1__title {
    font-size: 35px;
    line-height: 35px;
  }
}
.section-1__subtitle {
  font-size: 32px;
  line-height: 39px;
}
.section-1__subtitle:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .section-1__subtitle:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .section-1__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 570px) {
  .section-1__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
}

.yellow {
  color: #E3BC32;
}

.button {
  position: relative;
  left: 0;
  top: 0;
  background-color: #E3BC32;
  color: #000;
  border-radius: 20px;
  box-shadow: 4px 2px 8px #755F11;
  border: none;
  transition: background-color 0.3s ease 0s, top 0.1s ease 0s;
}
.button:hover {
  background-color: #cba417;
  -webkit-animation: button-shadow 1.5s linear 0s infinite;
          animation: button-shadow 1.5s linear 0s infinite;
}
.button:active {
  top: 2px;
}
.button_main {
  padding: 18px 42px;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}
@media (max-width: 767.98px) {
  .button_main {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  .button_main {
    padding: 10px 20px;
  }
}
@media (max-width: 360px) {
  .button_main {
    padding: 10px 20px;
    line-height: 25px;
    font-size: 16px;
  }
}
.button_sign-up {
  font-weight: 600;
  padding: 17px 33px;
  font-size: 30px;
}
@media (max-width: 767.98px) {
  .button_sign-up {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .button_sign-up {
    font-size: 16px;
  }
}
.button_form {
  font-weight: 700;
  line-height: 29px;
  padding: 22px 20px;
  display: inline-block;
}
@media (max-width: 425px) {
  .button_form {
    font-size: 20px;
    padding: 15px 15px;
  }
}

@-webkit-keyframes button-shadow {
  0% {
    box-shadow: 4px 2px 8px 2px #755F11;
  }
  25% {
    box-shadow: 2px 2px 8px 4px #755F11;
  }
  50% {
    box-shadow: -4px 2px 8px 2px #755F11;
  }
  75% {
    box-shadow: -2px -2px 8px 4px #755F11;
  }
  100% {
    box-shadow: 4px 2px 8px 2px #755F11;
  }
}

@keyframes button-shadow {
  0% {
    box-shadow: 4px 2px 8px 2px #755F11;
  }
  25% {
    box-shadow: 2px 2px 8px 4px #755F11;
  }
  50% {
    box-shadow: -4px 2px 8px 2px #755F11;
  }
  75% {
    box-shadow: -2px -2px 8px 4px #755F11;
  }
  100% {
    box-shadow: 4px 2px 8px 2px #755F11;
  }
}
.yellow-line {
  height: 2px;
  width: 100%;
  background-color: #E3BC32;
  border: none;
  margin: 0;
}

.section-2,
.section-3,
.section-4 {
  padding: 50px 0;
}
@media (max-width: 767.98px) {
  .section-2,
.section-3,
.section-4 {
    padding: 30px 0;
  }
}
.section-2__container,
.section-3__container,
.section-4__container {
  display: flex;
}
@media (max-width: 991.98px) {
  .section-2__container,
.section-3__container,
.section-4__container {
    flex-direction: column;
  }
}
.section-2__content,
.section-3__content,
.section-4__content {
  flex: 0 1 48%;
  padding-right: 70px;
}
@media (max-width: 991.98px) {
  .section-2__content,
.section-3__content,
.section-4__content {
    padding-right: 0;
  }
}
.section-2__img,
.section-3__img,
.section-4__img {
  flex: 0 1 52%;
}
.section-2__img img,
.section-3__img img,
.section-4__img img {
  max-width: 100%;
}

.content-block {
  padding-top: 10px;
}
@media (max-width: 991.98px) {
  .content-block {
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .content-block {
    margin-bottom: 20px;
  }
}
.content-block__title {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .content-block__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 425px) {
  .content-block__title {
    margin-bottom: 0;
  }
}
.content-block__text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .content-block__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.content-block__info-time {
  margin-right: 52px;
}
@media (max-width: 767.98px) {
  .content-block__info-time {
    margin-right: 40px;
  }
}
@media (max-width: 425px) {
  .content-block__info-time {
    margin-right: 20px;
  }
}
.content-block__info:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 1057px) {
  .content-block__info:not(:last-child) {
    margin: 0;
  }
}
@media (max-width: 1057px) {
  .content-block__button-and-details {
    display: none;
  }
}
.content-block__button-sign-up {
  margin-right: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 24px;
  }
}

.text {
  font-weight: 500;
  line-height: 29px;
}
@media (max-width: 767.98px) {
  .text {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .text {
    font-size: 16px;
  }
}

.info {
  display: inline-block;
  padding: 14px 23px;
  line-height: 29px;
  background-color: #E3BC32;
  color: #000;
  border-radius: 20px;
  box-shadow: 4px 2px 8px #755F11;
}
@media (max-width: 767.98px) {
  .info {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .info {
    font-size: 16px;
    padding: 8px 20px;
  }
}

.details {
  text-decoration: none;
  color: #666666;
  line-height: 29px;
  position: relative;
  padding: 5px 0;
}
@media (max-width: 767.98px) {
  .details {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .details {
    font-size: 16px;
  }
}
.details:hover {
  color: #E3BC32;
}
.details::after {
  content: "";
  height: 2px;
  width: 149px;
  background-color: #e5e5e5;
  position: absolute;
  bottom: -3px;
  left: -1px;
}
@media (max-width: 767.98px) {
  .details::after {
    width: 124px;
  }
}
@media (max-width: 425px) {
  .details::after {
    width: 99px;
  }
}

.image img {
  border-radius: 40px;
}
@media (max-width: 1057px) {
  .image img {
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .image img {
    margin-bottom: 20px;
  }
}
.image__button-and-details {
  display: none;
}
@media (max-width: 1057px) {
  .image__button-and-details {
    display: block;
  }
}
@media (max-width: 1057px) {
  .image__button-sign-up {
    margin-right: 20px;
  }
}
@media (max-width: 425px) {
  .image__button-sign-up {
    margin-right: 10px;
  }
}

.section-3__content {
  order: 2;
  padding-right: 0;
}
@media (max-width: 991.98px) {
  .section-3__content {
    order: 1;
  }
}
.section-3__img {
  order: 1;
  margin-right: 70px;
}
@media (max-width: 991.98px) {
  .section-3__img {
    margin-right: 0;
    order: 2;
  }
}

.section-form {
  padding: 100px 0;
}
@media (max-width: 570px) {
  .section-form {
    padding: 60px 0;
  }
}
@media (max-width: 425px) {
  .section-form {
    padding: 40px 0;
  }
}
.section-form__title {
  text-align: center;
}
.section-form__title h3 {
  font-size: 50px;
  line-height: 61px;
  padding-bottom: 50px;
}
@media (max-width: 767.98px) {
  .section-form__title h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 570px) {
  .section-form__title h3 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 425px) {
  .section-form__title h3 {
    font-size: 27px;
    line-height: 37px;
  }
}

.form {
  text-align: center;
}
.form__item {
  text-align: center;
}
.form__item input, .form__item select {
  width: 570px;
  min-height: 60px;
  color: white;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  background-color: black;
  border: 3px solid #E3BC32;
  border-radius: 20px;
  text-align: center;
}
.form__item input:focus, .form__item select:focus {
  -webkit-animation: button-shadow 1.5s linear 0s infinite;
          animation: button-shadow 1.5s linear 0s infinite;
}
@media (max-width: 767.98px) {
  .form__item input, .form__item select {
    width: 540px;
  }
}
@media (max-width: 570px) {
  .form__item input, .form__item select {
    width: 400px;
  }
}
@media (max-width: 425px) {
  .form__item input, .form__item select {
    width: 320px;
  }
}
@media (max-width: 360px) {
  .form__item input, .form__item select {
    width: 260px;
  }
}
.form__item:first-child {
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  .form__item:first-child {
    margin-bottom: 40px;
  }
}
.form__item:not(:first-child) {
  margin-bottom: 30px;
}
.form__item:nth-child(4) {
  margin-bottom: 80px;
}
@media (max-width: 570px) {
  .form__item:nth-child(4) {
    margin-bottom: 50px;
  }
}

.footer {
  padding: 45px 0 105px;
}
.footer__info {
  margin-bottom: 33px;
}
.footer__info p {
  font-weight: 700;
  margin-bottom: 8px;
}
.footer__info p:not(:last-child) {
  font-size: 30px;
  line-height: 37px;
}
@media (max-width: 570px) {
  .footer__info p:not(:last-child) {
    font-size: 25px;
    line-height: 32px;
  }
}
.footer__info p:last-child {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
}
.footer__item {
  margin-right: 30px;
}
.footer__item:last-child {
  margin-right: 0;
}/*# sourceMappingURL=style.css.map */